<footer>
  <div class="footerInfo">
    <div class="f-info-links">
      <div>&copy; Wanderlust Private Limited</div>
    </div>

    <div class="f-info-socials">
      <a target="_blank" href="https://ds17portfolio.netlify.app/">
        <i class="fa-solid fa-globe"></i
      ></a>
      <a target="_blank" href="https://www.instagram.com/kd17_02/">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/ds17/">
        <i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
  </div>
</footer>

<!-- Navbar for mobile phone -->

<nav class="toggle-mob-nav bg-body-light">
  <a class="logo_name" href="/listings"> <i class="fa-solid fa-house"></i></a>
  <a class="link_box" href="/listings/new"> <i class="fa-solid fa-plus"></i></a>
  <div class="registerbox rgstr-mob">
    <i class="fa-solid fa-user"></i>
  </div>
</nav>
<div class="userdatabox userdatabox-mob hide">
  <!-- If User is not logged in   -->
  <% if (!currUser){ %>
  <a class="nav-link" href="/signup">Sign Up</a>
  <a class="nav-link" href="/login">Login</a>
  <% } %> <% if (currUser){ %>
  <a class="nav-link" href="/logout">Logout</a>
  <% } %>
</div>
