<footer>
  <div class="footerInfo">
    <div class="f-info-links">
      <div>&copy; Wanderlust Private Limited</div>
      <a href="">&#x2022; <span>Privacy</span></a>
      <a href="">&#x2022; <span>Terms</span></a>
    </div>

    <div class="f-info-socials">
      <a target="_blank" href="https://ds17portfolio.netlify.app/">
        <i class="fa-solid fa-globe"></i
      ></a>
      <a target="_blank" href="https://www.instagram.com/kd17_02/">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/ds17/">
        <i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
  </div>
</footer>
