<footer>
  <div class="footerInfo">
    <div class="f-info-links">
      <div>&copy; Wanderlust Private Limited</div>

      <a href="">&#x2022; <span>Privacy</span></a>
      <a href="">&#x2022; <span>Terms</span></a>
    </div>

    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
</footer>
