<nav class="navbar navbar-expand-md bg-body-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i> </a>
    <form
      action="/listings/search"
      class="d-flex toggle-hide needs-validation"
      role="search"
      novalidate
    >
      <input
        class="form-control me-2 search-inp toggle-hide"
        type="search"
        placeholder="Search Destinations"
        name="search"
        required
      />
      <button class="btn btn-search toggle-hide" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="logo_name" href="/listings">Wanderlust</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form action="/listings/search" class="d-flex" role="search">
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search Destinations"
            name="search"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <div class="navbar-nav user-links ms-auto">
        <a class="link_box" href="/listings/new">Add your home</a>
        <div class="registerbox">
          <i class="fa-solid fa-bars"></i>
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    </div>
  </div>
</nav>

<%- include("../includes/flash.ejs") %>
<div class="userdatabox hide">
  <!-- If User is not logged in   -->
  <% if (!currUser){ %>
  <a class="nav-link" href="/signup">Sign Up</a>
  <a class="nav-link" href="/login">Log In</a>
  <% } %> <% if (currUser){ %>
  <a class="nav-link" href="/logout">Log Out</a>
  <% } %>
</div>
