<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="alert alert-danger col-md-6 col-10 mx-auto" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <p class="mt-2">An Error Occured</p>
  </div>
</div>
