<% layout("/layouts/boilerplate") %>

<div class="cardsRow">
  <% for(listings of allListings){ %>
  <a href="/listings/<%= listings._id %>">
    <div class="card" style="width: 20rem">
      <img
        class="card-img-top"
        src="<%= listings.image.url %>"
        alt="listing_img"
        style="height: 18rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listings.title %></b>
          <br />
          &#8377; <%= listings.price.toLocaleString("en-IN") %> / Night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
