<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listings</title>
  </head>
  <body>
    <h1>All Listings</h1>
    <a href="/listings/new">Create New List</a>
    <% for(listings of allListings){ %>
    <div class="listbox">
      <h3><%= listings.title %></h3>
      <img style="width: 200px" src="<%= listings.image.url %>" alt="" />
      <p><%= listings.description %></p>
      <a href="/listings/<%= listings._id %>">Show </a>
    </div>
    <% } %>
  </body>
</html>
