@import url("https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  width: 1450px;
  margin: 20px auto;
}
/* Navbar here  */

.navbar {
  height: 80px;
  background-color: #ffffff;
  border-bottom: 3px solid #ebebeb;
}
.navbar-brand {
  margin-left: 1.6rem;
  font-size: 27px !important;
  color: #ff385c !important;
}
.navbar-collapse {
  position: absolute;
  right: 40px;
}
.nav-link {
  color: #222222 !important;
  font-size: 18px !important;
}
.nav-link:hover {
  font-weight: 600;
  transition: 1s;
}
/* Footer here  */

.footerInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #ebebeb;
  padding: 0 50px;
}
.f-info-links {
  display: flex;
}
.f-info-links a {
  text-decoration: none !important;
  color: #222222 !important;
  margin-left: 12px;
}
.f-info-links a span {
  text-decoration: none !important;
  color: #222222 !important;
}
.f-info-links a span:hover {
  text-decoration: underline !important;
}
.f-info-socials {
  font-size: 22px;
}
.f-info-socials i {
  margin: 10px;
}
.f-info-socials i:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: 1s;
}

/* Cards here  */

.cardsRow {
  width: 1450px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.cardsRow a {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #ffffff;
}
.card {
  border: none !important;
}

.card-img-top {
  border-radius: 16px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 12px 0 !important;
}
.card-text p {
  font-weight: 400;
}
.btn-dark {
  background-color: #ff385c !important;
  border: none !important;
}

/* Show Card Here  */

.show-img {
  height: 18rem;
}
.black {
  background-color: #000000 !important;
  border: none !important;
}
