@import url("https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.hr {
  height: 3px;
  background-color: #ebebeb;
}
.body {
  flex: 1;
  width: 100%;
  margin: 25px auto;
}

/* Navbar here  */

.navbar {
  height: 81px;
  background-color: #ffffff;
  border-bottom: 3px solid #ebebeb;
  padding: 0px 50px !important;
  z-index: 1 !important;
}
.navbar-brand {
  font-size: 35px !important;
  color: #ff385c !important;
}
.navbar-nav {
  font-size: 18px !important;
  height: 80px;
  align-items: center;
}
.nav-link {
  color: #222222 !important;
}
.nav-link:hover {
  font-weight: 700;
  transition: 1s;
}
.logo_name {
  text-decoration: none;
  color: #ff385c;
  font-weight: 500;
  font-size: 22px;
  margin-left: -5px;
}
.link_box {
  color: #222222;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 18px;
  border-radius: 100px;
  margin-right: 10px;
  font-weight: 600;
}
.link_box:hover {
  background-color: #ebebeb;
  transition: 1s;
}
.registerbox {
  border-radius: 100px;
  border: 2px solid #ebebeb;
  padding: 8px 11px 8px 14px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.fa-bars {
  font-size: 16px;
}
.fa-user {
  background-color: #6a6a6a;
  border-radius: 1000px;
  padding: 7px 8px;
  color: #ffffff;
}
.registerbox:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: 1s;
}
.userdatabox {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 160px;
  position: fixed;
  top: 70px;
  right: 60px;
  z-index: 2;
  border-radius: 16px;
  padding: 10px 22px;
  line-height: 2.5;
}
.search-inp {
  border-radius: 25px !important;
  padding: 8px 20px !important;
  font-size: 15px !important;
  border: 2px solid #d1d1d1 !important;
}
.btn-search {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  background-color: #ff385c !important;
  color: #ffffff !important;
  line-height: 1.8 !important;
  padding: 0px 14px !important;
  border-radius: 25px !important;
}
.btn-search i {
  font-size: 14px;
}

/* Filters Here  */
.filter-box {
  width: 100%;
  padding: 0px 60px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 80px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  height: 83px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-type: x mandatory;
}
.filter-box::-webkit-scrollbar {
  height: 5px;
}
/* Track */
.filter-box::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
.filter-box::-webkit-scrollbar-thumb {
  background: #ff385c;
  border-radius: 10px;
}
/* Handle on hover */
.filter-box::-webkit-scrollbar-thumb:hover {
  background: #ff385c;
}
.filters {
  max-width: 100%;
  display: flex;
  justify-content: start;
  gap: 33px;
  white-space: nowrap;
}
.filters a {
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
  flex: 0 0 auto;
}
.filter {
  text-align: center;
  margin-top: 15px;
  opacity: 0.7;
}
.filter p {
  font-size: 14px;
  line-height: 2;
}
.filter:hover {
  cursor: pointer;
  opacity: 1;
  border-bottom: 3px solid #6a6a6a;
}
.tax-toggle {
  align-self: center;
  font-size: 16px;
  padding: 8px 18px;
  border-radius: 10px;
  border: 2px solid #d1d1d1;
  margin-bottom: 8px;
}
.form-check-input:checked {
  background-color: #ff385c !important;
}

/* All Listings here  */

.listing-box {
  width: 100%;
  margin: 50px auto 0px;
  max-width: 1450px;
  display: flex;
  justify-content: center;
}
.cardsRow {
  width: 1430px;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(320px, 100%));
  justify-content: start;
  gap: 15px 45px;
}
.eachCard {
  width: 320px !important;
}
.cardsRow a {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #ffffff;
}
.listing-card {
  border: none !important;
}
.card-img-top {
  border-radius: 16px !important;
  width: 100% !important;
  object-fit: cover !important;
  height: 288px !important;
}
.card-body {
  padding: 12px 0px !important;
}
.btn-dark {
  background-color: #ff385c !important;
  border: none !important;
}
p2 {
  letter-spacing: 1.5px;
}

/* Single listing Here  */

.show-img {
  height: 18rem;
}
.black {
  background-color: #000000 !important;
  border: none !important;
}

/* Footer here  */

.footerInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #ebebeb;
  padding: 0 50px;
}
.f-info-links {
  display: flex;
}
.f-info-links a {
  text-decoration: none !important;
  color: #222222 !important;
  margin-left: 12px;
}
.f-info-links a span {
  text-decoration: none !important;
  color: #222222 !important;
}
.f-info-links a span:hover {
  text-decoration: underline !important;
}
.f-info-socials {
  font-size: 22px;
}
.f-info-socials a {
  text-decoration: none;
  color: #000000;
}
.f-info-socials i {
  margin: 10px;
}
.f-info-socials i:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: 1s;
}

/* Shoe Review in listing  */

.review-card {
  padding: 0 8px;
  margin-top: 30px !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: space-between;
}
.float-btn {
  float: right;
}
.rating-head {
  line-height: 1.6;
  color: #ff385c !important;
}
#map {
  height: 400px;
  width: 100%;
  margin-top: 30px;
}
.not-avail {
  text-align: center;
  width: 800px;
  margin: 120px auto;
  color: #000000;
}
.not-avail i {
  color: #ff385c;
  opacity: 1 !important;
  font-size: 80px;
  margin-bottom: 60px;
}
.not-avail h3 {
  opacity: 0.7;
}

/* Hiding userdatabox  */
.hide {
  display: none;
}
/* Hiding Searchbox of Mob  */
.toggle-hide {
  display: none !important;
}
/* Hiding Na of mob  */
.toggle-mob-nav {
  display: none !important;
}
/* Hiding total tax price  */
.tax-info {
  display: none;
}

@media only screen and (max-width: 1430px) {
  .navbar {
    padding: 0px 20px !important;
  }
  .userdatabox {
    right: 30px;
  }
  .filter-box {
    padding: 0px 30px;
  }
  .cardsRow {
    width: 1065px;
    gap: 15px 45px;
  }
}

@media only screen and (max-width: 1390px) {
  .navbar {
    padding: 0px 40px !important;
  }
  .userdatabox {
    right: 50px;
  }
  .filter-box {
    padding: 0px 45px;
  }
  .filters {
    gap: 40px;
  }
  .tax-toggle {
    display: none;
  }
}

@media only screen and (max-width: 1190px) {
  .navbar {
    padding: 0px 20px !important;
  }
  .userdatabox {
    right: 30px;
  }
  .filter-box {
    padding: 0px 30px;
  }
  .filters {
    gap: 30px;
  }
}

/* For tablet view  */

@media only screen and (max-width: 1065px) {
  .search-inp {
    padding: 7px 12px !important;
  }
  .btn-search {
    padding: 0px 12px !important;
  }
  .filter-box {
    padding: 0px 20px;
  }
  .filters {
    gap: 20px;
  }
  .cardsRow {
    width: 700px;
  }
}

@media only screen and (max-width: 937px) {
  .navbar {
    padding: 0px 10px !important;
  }
  .userdatabox {
    right: 20px;
  }
  .search-inp {
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
  .btn-search {
    font-size: 12px !important;
  }
  .btn-search i {
    font-size: 11px;
  }
  .filter-box {
    padding: 0px 25px;
    overflow: scroll;
  }
  .filters {
    gap: 27px;
  }
}

@media only screen and (max-width: 764px) {
  .toggle-hide {
    display: flex;
  }
  .search-inp {
    display: block !important;
  }
  .btn-search {
    display: block !important;
  }
  .search-inp {
    padding: 6px 10px !important;
  }
  .btn-search i {
    font-size: 14px;
  }
  .filters {
    gap: 25px;
  }
  .toggle-mob-nav {
    padding: 0px 10px;
    background-color: #ffffff;
    height: 65px;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    position: sticky !important;
    bottom: 0px !important;
    left: 0px !important;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1 !important;
  }
  .logo_name {
    color: #000000;
    font-size: 25px;
    margin-left: 9px;
  }
  .link_box {
    font-size: 18px;
    padding: 4px 11px;
    margin-right: 0px;
    margin-left: 12px;
    background-color: #d1d1d1;
  }
  .link_box:hover {
    transform: scale(1.03);
  }
  .registerbox {
    position: relative;
    padding: 0%;
  }
  .fa-user {
    padding: 10px 12px;
    background-color: #ff385c;
  }
  .registerbox:hover {
    cursor: pointer;
    box-shadow: none;
    transform: scale(1);
  }
  .userdatabox-mob {
    background-color: #ff385c;
    text-align: center;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10;
    width: 130px;
  }
  .userdatabox-mob a {
    color: #ffffff !important;
  }
  .not-avail {
    width: 600px;
    margin: 160px auto;
  }
  .not-avail i {
    font-size: 60px;
  }
  .hide {
    display: none;
  }
  .review-card {
    padding: 0 4px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding: 0px 5px !important;
  }
  .navbar-toggler {
    border: none !important;
    font-size: 18px !important;
  }
  .cardsRow {
    width: 320px;
  }
  .footerInfo {
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding: 10px 50px 0px;
    gap: 8px;
  }
  .not-avail {
    width: 500px;
    margin: 160px auto;
  }
  .not-avail i {
    font-size: 60px;
  }
}

@media only screen and (max-width: 536px) {
  .filter-box {
    height: 70px;
  }
  .filters {
    gap: 44px;
  }
  .filter {
    margin-top: 6px;
  }
  .tax-toggle {
    margin-bottom: 22px;
  }
  .listing-box {
    margin: 30px auto 0px;
  }
  .footerInfo {
    flex-direction: column;
    justify-content: center;
    height: 135px;
    padding: 5px 10px 0px;
    gap: 10px;
  }
  .f-info-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .f-info-socials i {
    margin-right: 5px;
  }
  .not-avail {
    width: 380px;
    margin: 120px auto;
  }
  .not-avail i {
    font-size: 55px;
  }
}

@media only screen and (max-width: 380px) {
  .filters {
    gap: 57px;
  }
  .cardsRow {
    width: 290px;
    grid-template-columns: repeat(auto-fit, min(290px, 100%));
  }
  .eachCard {
    width: 290px !important;
  }
  .card-img-top {
    height: 265px !important;
  }
  .not-avail {
    width: 300px;
    margin: 120px auto;
  }
  .not-avail i {
    font-size: 55px;
  }
}

@media only screen and (max-width: 335px) {
  .filters {
    gap: 50px;
  }
  .search-inp {
    padding: 6px 10px !important;
    font-size: 12px !important;
  }
  .not-avail {
    width: 275px;
    margin: 120px auto;
  }
  .not-avail i {
    font-size: 45px;
  }
}
